:root {
    --main-bg-color: #447CFC;
  }

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

/* start header/navbar styling */

#top  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white !important;
    background-color: #447CFC;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#top .link {
	transition: transform ease 300ms;
}

#top .link:hover {
  transform: translate(0, -2px);
	transition: transform ease 300ms;
    display:inline-block;
}


#header, #title-section {
    margin: 10px 0 10px 0%;
    padding: 0;
}

#title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-size: 2vw;
    line-height: 2vw;
    text-align: center;
}

#title {
    width: 100%;
    letter-spacing: 5px;
}

#header {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-menu {
	font-size: 1.3vw;
    line-height: 1.3vw;
    letter-spacing: 3px;
    width: 25%;
    margin: 2%;
    text-align: center;
}

.header-menu a {
    color: white;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: .5%;
}

#socials a {
    width: 20%;
    margin: 1%;
}

#socials a:hover {
    opacity: .8;
}

#logo-img {
    width: 20%;
}

#logo-img img {
    border: .5vw black solid;
    border-radius: 50%;
}

#logo-img:hover {
    opacity: .8;
}

/* end header/navbar styling */

/* mint section */

.mint-img {
    width: 20%;
    border: .5vw black solid;
    border-radius: 20px;
}

/* start about section styling */

#roadmap {
    -webkit-animation: bounce 1.3s infinite;
    animation: bounce 1.3s infinite;
    color: black !important;
}

.down-arrow {
    width: 3vw;
}

@-webkit-keyframes bounce {
    0% { transform: translateY(0);} 
   50% {transform: translateY(-5px);} 
   100% { transform: translateY(0);} 
}
  
@keyframes bounce {
    0% { transform: translateY(0);} 
   50% {transform: translateY(-5px);} 
   100% { transform: translateY(0);} 
}

.left-number, .right-number {
    position: absolute;
    text-align: center;
    top: 20px;
    font-size: 3vw;
    line-height: 3vw;
}

.left-number {
    left: 20px;
}

.right-number {
    right: 20px;
}

#about {
    padding: 30px;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about-text-desktop-1 {
    width: 75%;
    margin-right:6%
}

#about-text-desktop-2 {
    width: 75%;
    margin-left:6%
}

#about-gif {
    width: 15%;
}

#wc-gif {
    border: .5vw black solid;
    border-radius: 20px;
}

#about h2 {
    font-size: 2.5vw;
    line-height: 2.5vw;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* end about section styling */

#bottom-socials {
    width: 20%;
    margin: auto;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#bottom-socials a {
    width: 4vw;
    height: 4vw;
}

#copyright-div {
    background-color: var(--main-bg-color);
    text-align: center;
    font-size: 1.4vw !important;
	line-height: 1.7vw !important;
    padding: 20px;
}

#copyright-div  a {
    color: white;
}

#copyright-div  a:hover {
	color: #F5CD03;
}

#copyright-div img {
    margin-right: 20px;
}

@media screen and (max-width: 991px) {

    .left-number, .right-number {
        display: none;
    }

    .down-arrow {
        width: 3vh;
    }

    /* start header-navbar styling */

    #top {
        display: initial;
    }

    .w-container {
        width: 90%;
    }

    #title-section {
        width: 100%;
        border-right: none;
        font-size: 5vh;
        line-height: 5vh;
        background-color: #447CFC;
        padding-top: 20px !important;
        margin: 0;
        padding: 2%;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #socials {
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        width: 100%;
    }

    #socials a {
        width: 10%;
    }

    #logo-img {
        width: 20%;
    }

    #logo-img img {
        border-width: 5px;
    }
    
    #title {
        width: 100%;
        letter-spacing: 3px;
    }

    #header {
        width: 100%;
        border-left: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    /* Mobile Navbar animations */
      

    #expand-container {
        overflow: hidden;
    }
    
    #mobile-nav-menu {
        margin-top: -100%;
        transition: all 0.4s;
    background-color: #447CFC;

    }
    
    #mobile-nav-menu.expanded {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        margin-top: 0;
    }


    @-webkit-keyframes slide-in {
        100% {
          -webkit-transform: translateY(0%);
          transform: translateY(0%)
        }
    }

    @-webkit-keyframes slide-out {
        100% {
          -webkit-transform: translateY(-100%);
          transform: translateY(-100%)
        }
    }

    @keyframes slide-in {
        100% {
            transform: translateY(0%)
        }
    }

    @keyframes slide-out {
        100% {
            transform: translateY(-100%)
        }
    }

    .expanded {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        opacity: 1;
        animation: slide-in 1s linear;
        -webkit-animation-name: slide-in;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }

    .collapsed {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        animation: slide-out 1s linear;
        -webkit-animation-name: slide-out;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: linear;
        -webkit-animation-fill-mode: forwards;
    }

    /* end mobile navbar animations*/

    .header-menu {
        font-size: 4vh;
        line-height: 4vh;
        text-align: left;
    }

    #navbar {
        touch-action: manipulation;
        width: 10%;
        background-color: white;
        background-image: url("../images/burger.png");
        background-size: 100% 100%;
    }

    #mobile-wallet-connect-div {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #447CFC;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #mobile-wallet-connect-div .button {
        min-height: 6vh;
    }

    /* end header/navbar styling */

    /* start about section styling */

    #about {
        display: block;
        padding: 15px;
    }

    #about p {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 18px !important;
        line-height: 18px !important;
    }
    
    #about-text-mobile {
        width: 95%;
        margin-left: 2.5%;
        margin-right:2.5%
    }
    
    #about-gif {
        width: 100%;
    }

    #wc-gif {
        border-width: 5px;
    }

    /* end about section styling */


    p {
        padding: 20px;
        margin: 0;
        font-size: 20px;
    }

    .section-title {
        font-size: 3vh;
        text-align: center;
    }

    .body-heading {
        text-align: center;
        margin: 0;
        margin-top: 10px;
    }

    #about-info {
        font-size: 2.8vh !important;
        line-height: 3.3vh !important;
    }

    #bottom-socials {
        width: 95%;
        padding: 2vh;
    }

    #bottom-socials a {
        width: 7vh;
        height: 7vh;
    }

    #copyright-div {
        padding: 10px;
        font-size: 2.8vh !important;
		line-height: 3.1vh !important;
    }

}