h2 {
    margin-top: 1.5vw !important;
    margin-bottom:1.5vw !important;
}

#your-wl-spots {
    font-size: 1.6vw;
    line-height: 1.6vw;
}

#wl-section {
    width: 90%;
    min-height: 20vh;
    max-height: 50vh;
    overflow-y: scroll;
    border: .5vw black solid;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    font-size: 1.2vw;
    line-height: 1.2vw;
}

input {
    border: .5vw black solid;
    border-radius: 15px;
    text-align: center;
    font-size: 2vw;
    line-height: 2vw;
    width: 50%;
}

#lookup-button {
    width: 50%;
}

select {
    border: .5vw black solid;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5vw;
    line-height: 2vw;
    width: 75%;
    margin-bottom: 2vw;
}

#spacer {
    height: 2vw;
}

#download-link {
    width: 5%;
}

#download-button {
    width: 5%;
}

@media screen and (max-width: 991px) {
    #lookup-button {
        width: 98%;
    }

    h2 {
        margin-top: 2vh !important;
        margin-bottom:2vh !important;
    }

    #your-wl-spots {
        font-size: 2.8vh;
        line-height: 2.8vh;
    }

    #wl-section {
        width: 98%;
        border-width: 5px;
        padding-top:2vh;
        padding-bottom: 2vh;
        font-size: 1.2vh;
        line-height: 1.2vh;
    }

    input, select {
        font-size: 3vh;
        line-height: 3vh;
        border-width: 5px;
        width: 98%;
    }

    select {
        font-size: 2vh;
        line-height: 2vh;
        width: 90%;
    }

    select {
        margin-bottom: 2vh;
    }

    #spacer {
        height: 2vh;
    }


}