#current-raffle-img {
    width: 60%;
    border-style: solid;
	border-color: black;
	border-radius: 20px;
	border-width: .5vw;
    background-color: black;
}

#raffle-div-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.raffle-div {
    display: inline-block;
    width: 50%;
}

#entry-num {
    width: 80%;
}

/* #enter-button, #entered-button, #enter-with-name-button {
    width: 80%;
} */

#entered-button:hover {
    cursor: default !important;
}

#raffle {
    margin: 1%;
    width: 75%;
   background-color: white;
}

#discord-popup #content input {
    width: initial !important;
}

#live-raffles, #past-raffles {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: stretch;
    margin: auto;
    width: 100%;
}

#live-raffles button {
    width: 80%;
}

#past-raffles button {
    width: 90%;
}

input {
    margin-bottom: 1.5vw;
}

@media screen and (max-width: 991px) {
    #current-raffle-img {
        width: 50%;
		border-width: 5px;
    }

    #raffle {
        width: 90%;
        margin-top: 40px;
    }

    #raffle-div-container {
        display: initial;
    }

    h2 {
        font-size: 3vh;
        line-height: 3.1vh;
        margin-top: 1.6vh !important;
        margin-bottom: 1.6vh !important;
    }

    .raffle-div {
        display: block;
        width: 100%;
    }

    #live-raffles button {
        width: 90%;
    }

    #enter-button {
        width: 98%;
    }
    
    #raffle button {
        font-size: 3vh;
        letter-spacing: 5px;
    }

    input {
        width: 90%;
        margin-bottom: 2vh;
    }
}