@font-face {  
	font-family: 'Wavey';
	src: URL('../css/wheaton\ capitals.otf') format('truetype');
}  

html, body {
	overscroll-behavior: none;
	font-family: 'Wavey', sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
	
}

#clear-button  {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 1vw;
	line-height: 1vw;
}

.coco-icon {
	display: inline;
	width: 1.8vw;
}

.hidden {
	display: none !important;
}

.banner-img {
	width: 100%;
	height: 100%;
}

.fixed-banner{
	position:fixed;
    bottom:0px;
    z-index: -1;
}

h1, h2 {
	letter-spacing: 3px;
}

h1 {
	font-family: "Wavey";
	color: black;
	font-size: 3vw !important;
	line-height: 3vw !important;
}

p {
	font-family: "Courier New";
	text-align: justify;
	font-weight: bold;
	font-size: 1.4vw !important;
	line-height: 1.7vw !important;
}

#desktop-wallet-connect-div {
	display: flex;
	align-items: center;
	width: 15%;
}

#account {
	text-align: center;
	font-size: 1.3vw;
	letter-spacing: 3px;
	background-color: white;
	color:black;
	width: 95%;
	height: 70%;
  }


.body {
	background-color: white;
	font-family: 'Wavey', sans-serif;
	background-size: auto;
	background-repeat: repeat;
	color: black;
}

.header {
	padding-top: 40px;
	padding-bottom: 40px
}

.hide-on-desktop {
	display: none !important;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px !important;
	background-position: 0 0;
	background-size: 500px

}

.section.footer {
	padding-top: 10px;
	padding-bottom: 10px;
	background-position: 100% 50%;
	background-size: cover;
	background-repeat: no-repeat;
}

.footer .link {
	transition: transform ease 300ms;
}

.footer .link:hover {
  transform: translate(0, -5px);
}

.footer-section {
	margin: auto;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.center-div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.button {
	touch-action: manipulation;
	background-color: black;
    border: .3vw black solid;
	color: white;
	font-size: 1.4vw;
	line-height: 1.7vw;
	padding: .5vw;
	border-radius: 5px;
	font-family: 'Wavey', sans-serif;
	font-weight: bolder;
}

.link {
	color: black;
	text-decoration: none
}

.title-link {
	color: white;
	text-decoration: none
}

.title-link:hover {
	color: #F5CD03;
}

.button:hover {
	background-color: #FDCD00;
}

.link:hover {
	color: #F5CD03;
}

.section-title{
	font-size:  2.3vw;
	text-align: center;
}

h2 {
	font-size:  1.9vw;
	line-height:  1.9vw;
}

h4 {
	font-size:  1.4vw;
	line-height:  1.8vw;
}

h5 {
	font-size:  1vw !important;
	line-height:  1.3vw !important;
}

.banner-img {
	width: 100%;
}

#pending-transactions {
    text-align: center;
    min-width: 20%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99999999;
  }
  
.loading-div {
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    height: 5%;
    background-color: #447CFC;
    border: solid white .3em;
    color: white;
    font-size: 1.2vw;
    line-height: 1.5vw;
    padding: 20px;
    text-align: center;
    border-radius: .2em;
}

.etherscan-link {
    text-decoration: none;
}


#loading-popup {
    border: solid .5vw white;
    background-color: #447CFC;
    padding:5vw;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vw;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#error-popup, #status-popup {
	background-color: white;
    z-index: 99999;
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 53vw;
    height: 35vh;
    border: solid .5vw black;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 5000px 5000px rgba(0,0,0,0.88);
}

#error-popup p, #status-popup p {
    width: 100%;
    font-size: 2.5vw !important;
    line-height: 2.7vw !important;
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
	padding: 1vw;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

.blinking {
    animation: blinker 1.6s linear infinite;
}

.success {
    background-color: rgb(49, 219, 49) !important;
	color: black !important;
}

.failure {
    background-color: #F72119 !important;
}

#block-screen, #block-screen-error, #block-screen-status, #block-screen-approval, #block-screen-loading {
    z-index: 9998;
    width: 100vw;
    opacity: 0;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 1000px) {
	.footer-section {
		margin: auto;
		padding: 5px;
		width: 100%;
		text-align: center;
	}
}

.mint-container {
	text-align: center;
}

.box {
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	border-width: .5vw;
	padding: 20px;
	backdrop-filter: blur(25px);
    background-color: white;
}

.box2 {
	background-color: rgba(95, 92, 92, 0.336);
}

.box3 {
	background-color: rgba(95, 92, 92, 0.336);
	padding: 50px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	min-height: 60vh;
}

@media screen and (max-width:991px) {

	.coco-icon {
		display: inline;
		width: 2.8vh;
	}

	.box {
		border-width: 5px;
	}


    .section-title {
        font-size: 3vh;
        text-align: center;
    }

	h2 {
		font-size:  3.4vh;
		line-height: 3.4vh;
	}

	h3 {
		font-size:  2.4vh !important;
		line-height:  2.9vh !important;
	}

	h4 {
		font-size:  2vh;
		line-height:  2.4vh;
	}

	h5 {
		font-size:  1.8vh !important;
		line-height:  2vh !important;
	}

	.button {
		font-size: 2.3vh;
		line-height: 2.8vh ;	
		padding: 5px;
		border-width: 5px;
		min-height: 9vh;
	}

	p {
		font-size: 2.8vh !important;
		line-height: 3.1vh !important;
		margin: 0 !important;
		padding: 10px !important;
	}

	.hide-on-mobile {
        display: none !important;
    }

	.hide-on-desktop {
		display: block !important;
	}

	#mobile-account {
		width:80%;
		background-color: white;
		color: black
	  }

	#about {
		padding: 0;
	}

	.header {
		padding-top: 10px;
		padding-right: 40px;
		padding-left: 40px
	}

	.header-menu {
		font-size: 2.5vh;
		margin: 5px;
	}

	.box3 {
		margin-top: 15vh;
		width: 100%;
		position: relative;
		background-color: rgba(95, 92, 92, 0.336);
		padding: 50px;
		min-height: 40vh;
	}

	#pending-transactions {
        min-width: 85%;
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    
      .loading-div {
        font-size: 4vw !important;
        line-height: 4.6vw !important;
		border-width: 5px;
      }

	  #loading-popup {
        width: 75vw;
		border-width: 5px;
    }

	h1 {
		font-size: 5.4vh !important;
		line-height: 5.4vh !important;
	}

    #error-popup, #status-popup {
        width: 75vw;
        height: 15vh;
		border-width: 5px;
    }

    #error-popup p, #status-popup p {
        font-size: 4vw !important;
		line-height: 4.2vw !important;
		width: 80%;
    }

}

@media screen and (max-width:767px) {
	.header {
		padding-right: 20px;
		padding-left: 20px
	}
}

@media screen and (max-width:479px) {
	.header {
		padding-bottom: 20px
	}
	.button.connect-button {
		margin-top: 0
	}
}

.mint-section {
	padding-top: 50px;
}

#top {
	padding-bottom: 0px;
	padding-top: 0px;
}

#about {
	z-index: 4;
}